.DS_Store
*.swp
coverage/
node_modules/
.yarn.lock
package-lock.json
dist/assets/index.edcf84d5.css
dist/assets/index.edcf84d5.css
dist/assets/index.c78648d4.css
dist/assets/index.be260d8f.js
dist/assets/index.deefa319.js