/* MÓVIL VERSION */
@media screen and (max-width: 480px) {
    .headerWall {
      width: 112%;
      display: flex;
      justify-content: space-between;
    }
    .logoutWall {
      margin-right: 40px;
    }
  
    .userWellcome {
      width: 75%;
      padding-left: 50px;
    }
  
    .userName {
      width: 94%;
      margin: 0.5em 0.5em;
      display: flex;
      padding-left: 10px;
    }
  
    .bodyWall {
      width: 112%;
      display: flex;
      background-position: center;
    }
  
    main {
      width: 300px;
      display: flex;
      margin: 10px;
    }
  
    .createPost {
      width: 94%;
      justify-content: center;
      display: flex;
      align-items: center;
    }
    .newPost {
      width: 78%;
      justify-content: center;
    }
  
    .containerBackground {
      margin-top: 70px;
      border-left: 2px var(--secundary-color);
      position: relative;
    }
  
    .background {
      width: 360px;
      height: 508px;
      position: absolute;
    }
  }
  
  /* TABLET VERSION */
  @media screen and (min-width: 767px) {
    .container {
      display: flex;
      flex-direction: row;
      background-image: none;
      justify-content: center;
    }
    .logoutWall {
      margin-right: 40px;
    }
  
    .containerBackground {
      margin: 70px 2px;
      border-left: 2px var(--secundary-color);
      border-left-style: groove;
    }
  
    .background {
      background-color: var(--theme-color);
      width: 360px;
      height: 508px;
      padding-top: 15px;
      padding-bottom: 40px;
      text-align: center;
      border-style: outset;
    }
  }
  
  /* DESKTOP VERSION */
  @media screen and (min-width: 950px) {
    .wallTemplate {
      width: 100%;
    }
  
    main {
      width: 750px;
    }
  
    .container {
      margin: 70px;
      display: flex;
      flex-direction: row;
      background-image: none;
    }
  
    .containerBackground {
      margin: 10px;
      border-left: 2px var(--secundary-color);
      border-left-style: groove;
    }
  
    .background {
      margin-left: 120px;
      width: 360px;
      height: 508px;
    }
  
    .containerPic {
      background-image: url(/assets/Viajera.718d166a.jpg);
      background-size: cover;
      width: 30%;
      margin: 0 150px 0 150px;
    }
  }