*, html {
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: Helvetica;
}

:root {
/* azul: 023047, turqueza: 219ebc, naranja: fb8500, celeste: 8ecae6; amarillo:ffb703*/
 --theme-color: white;
 --primary-color: #023047;
 --secundary-color: #ffb703;
 --text-color: white;
 --background-color-buttons: #fb8500;
 --background-view: #8ecae6; 
 --background-color-buttons-hover: #219ebc;
}

/* vista login */
body {
    background-color: var(--theme-color);
    color: var(--primary-color);
}

.logoTravellx {
    padding-top: 28px;
    width: 138px;
    height: 40x;
}

.wellcomeLogReg {
    font-size: 14px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    margin: 0 auto;
    padding: 25px;
    font-weight: bold;
}

.controls {
    /* border-color: #023047; */
    border-radius: 10px;
    height: 40px;
    width: 100%;
    /* margin: 0 auto; */
    padding-left: 14px;
    margin-bottom: 8px;
    /* margin-left: 28px;
    margin-right: 28px; */
    border-color: var(--primary-color);
}

.loginBtn {
    margin-top: 8px;
    height: 42px;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffff;
    font-size: 14px;
    border-radius: 10px;
    border: 2px solid;
}

.loginBtn:hover{
    background: var(--background-color-buttons-hover);

}

.linkViewRegister {
        display: block;
        height: 42px;
        width: 100%;
        background-color: var(--background-color-buttons);
        color: #ffff;
        font-size: 14px;
        border-radius: 10px;
        border-color: #000;
        padding: 15px;
        padding-left: 14px;
        margin-bottom: 5px;
        /* margin-left: 28px;
        margin-right: 28px; */
        text-decoration: none;
        
}
.linkViewRegister:hover{
    background: var(--secundary-color);
}
.registerBtn {
    height: 42px;
    width: 100%;
    background-color: var(--primary-color);
    color: #ffff;
    font-size: 14px;
    border-color: #000;
    border-radius: 10px;
    margin-top: 10px;
}
.registerBtn:hover{
    background: var(--background-color-buttons-hover);
}
.text-center {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.3;
    max-width: 450px;
    /* margin: 0 auto; */
    padding: 15px;
}

p {
    padding: 10px;
    font-size: 14px;
}

.headerWall{
    width: 100%;
    display: flex;
    justify-content: space-between ;
    border-bottom: #219ebc;
    border-bottom-style: solid;
    border-width: thin;
    background-color: #B9D7E5;
}

.backgroundMuro {
    background-color: var(--theme-color);
    width: 100%;
    /* margin: auto; */
    border-left-color: #8ecae6;
    border-right-color: #8ecae6;

}

.logoutWall {
    height: 29.49px;
    width: 56.5px;
    background-color: var(--primary-color);
    color: var(--text-color);
    font-size: 0.75em;
    text-align: center;
    justify-content: center;
    line-height: normal;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 14px;
    margin-right: 14px;
    height: 40x;
    box-shadow: 0.8px 1.5px 2px #219EBC;
    
}
.logoutWall:hover {
background: var(--background-color-buttons-hover);
}

.userName {
    display: flex;
    font-size: 0.9em;
    margin-left: 12px;
    padding-left: 10px;
    border-radius: 5px;
    border-color: var(--background-color-buttons-hover);
    /* overflow: hidden; */
    /* outline: none; */
    /* -webkit-box-shadow: none; */
    /* -moz-box-shadow: none; */
    box-shadow: none;
}

.userWellcome {
    display: flex;
    justify-content: flex-end;
    margin: 12px 20px;
    font-size: 12px;
}

.userEmailWellcome {
    /* margin: 5px; */
    border: none;
    
    padding: 2px;
    font-size: 0.95em;
    color: var(--primary-color);
}

.logoTravellxWall {
    padding: 14px 12px;
    width: 138px;
    height: 40x;
}

.newPost {
    display: flex;
    flex-direction: column;
    background-color: var(--theme-color);
    margin: 5px 50px 10px 50px;
    padding-bottom: 10px;
    padding-right: 10px;
    border-color: var(--background-view);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
    
}

.textPost {
    border-radius: 5px;
    height: 83px;
    width: 98%;
    font-size: 1.0em;
    margin: 12px 24px 70px 12px;
    border-color: var(--background-color-buttons-hover);
    padding: 10px 10px 10px 10px;
    overflow: hidden;
    outline: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none; /*remove the resize handle on the bottom right*/
}

.btnpost{
    display: flex;
    justify-content: right;
}

.postBtn {
    height: 29.49px;
    width: 85px;
    background-color: var(--background-color-buttons-hover);
    color: var(--text-color);
    font-size: 0.75em;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    line-height: normal;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin-top: 14px;
    height: 40x;
    box-shadow: 0.8px 1.5px 2px #B9D7E5;
    
}
.postBtn:hover {
background: var(--background-color-buttons);
color: var(--primary-color);
}

.buttonsEdit {
    display: flex;
    justify-content: space-around;
}

.editBtn, .idCancelBtn, .idDeleteBtn {
    height: 29.49px;
    width: 70px;
    background-color: var(--background-color-buttons-hover);
    color: var(--theme-color);
    font-size: 0.65em;
    text-align: center;
    justify-content: center;
    line-height: normal;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    margin: 2px;
    height: 40x;
    box-shadow: 0.8px 1.5px 2px var(--background-color-buttons-hover);
    
    
}
.editBtn:hover, .idCancelBtn:hover, .idDeleteBtn:hover {
background: var(--primary-color);
}

.templatePosts {
    /* display: flex; */
    border-style: solid;
    border-width: thin;
    border-left-color: #8ecae6;
    border-right-color: #8ecae6;
    border-top: #ffffff;
}

.templatePost {
    /* display: flex; */
    background-color: var(--theme-color);
    margin: 5px 30px 10px 30px;
    padding: 10px;
    border-color: var(--background-view);
    border-top: #219ebc;
    border-top-style: solid;
    border-bottom: #219ebc;
    border-bottom-style: solid;
    border-width: thin;
}

.wallTemplate {
    /* display: flex; */
    align-content: center;
}

h3 {
    margin-left: 12px;
    color: var(--primary-color);
    font-size: 0.75em;
    margin-top: 2px;
    
}

.createdPost {
    border-radius: 5px;
    margin: 12px 12px 12px;
    border-color: var(--background-color-buttons-hover);
    padding: 0em;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: var(--primary-color);
    font-size: 0.95em;
}
